@font-face {
  font-family: 'AntipastoPro';
  src: url('../fonts/Antipasto-Pro-Basic-24819/Fonts/Otf/Antipasto-Pro-Regular.otf'); /* IE9 Compat Modes */
  font-style:normal;
  font-weight: 100;
}

a {
  text-decoration: none;
}

body {
  /* font-family: 'Open Sans',Helvetica,Arial,sans-serif; */
  font-family: AntipastoPro;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100vw;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 150%;
  background: #f7f5ff;
}

header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  /* text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9); */
  background:#E7E1FB;
  /* color:#ffff63; */
  /* box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.9); */
  border-bottom: 4px solid #ffff63;
  height: 130px;
  /* color: #ebe014; */
}
#headerLogoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:10px;
  /* width: 100%; */
}
#accountNav {
  padding: 20px;
  height: 28px;
  display: flex;
}
#accountNav span {
  display: flex;
  align-items: center;
}
#accountNav span a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  /* height: 15px; */
}
#accountNav span p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  /* height: 15px; */
  /* margin-bottom: -0px; */
  font-size: 120%;
  font-weight: bold;
}
#headerRightDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:space-between;
  height: 100%;
}
#headerTextDiv {
  /* margin-bottom: -5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}
#headerNav {
  display: flex;
  align-items: center;
}
#headerNav a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 10px;
  /* color: #dcd0ff; */
  color: #ffff63;
  font-size: 120%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  /* background: #ffff63; */
  /* background: #dcd0ff; */
  background: #E7E1FB;
  /* filter: drop-shadow(0px 3px 3px #222); */
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);

}
#headerLogoDiv {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  filter: drop-shadow(0px 3px 3px #222);
}
#headerLogoDiv img {
  height: 125px;
  width: 125px;
}
#headerLogoDiv h1 {
  height:20px;
  display: flex;
  align-items: center;
  /* padding: 0px; */
}
#headerLogoDiv p {
  height: 10px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}

#headerRibbonDiv img {
  height: 120px;
  width: 120px;
  margin-right: -80px;
  filter: drop-shadow(0px 3px 3px #222);
}

#ribbonNav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#ribbonNav img {
  height: 100px;
  filter: drop-shadow(0px 3px 3px #222);
}
#browseItemsView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  flex-wrap: wrap;
}

.packageDisplays {
  width: 80vw;
  font-size: 150%;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
}
#receiverInfoPackageDisplay h3 {
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#receiverInfoPackageDisplay span {
  height: 40px;
  margin-top:10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}
#receiverInfoPackageDisplay p {
  /* height: 20px; */
  /* margin-top:0px; */
  display: flex;
  align-items: center;
}
#receiverInfoPackageDisplay input {
  height: 40px;
  width: 70%;
  margin-left: 20px;
  font-size: 80%;
}
#receiverInfoPackageDisplay select {
  height: 40px;
  width: 200px;
  margin-left: 20px;
  /* font-size: 80%; */
}
#receiverInfoPackageDisplay select {
  font-size: 80%;
}
#shippingInfoCheckoutFormDiv {
  display: flex;
  flex-direction: column;
}
#shippingInfoCheckoutFormDiv p {
  height: 60px;
  margin-bottom: 20px;
}
#shippingInfoCheckoutFormDiv span {
  display: flex;
  height: 30px;
  margin-top:0px;
  margin-bottom: 30px;
}

.checkoutFormDivs {
  width: 100%;
}
.checkoutFormDivs span {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.checkoutFormDivs input {
  height: 40px;
  width: 30%;
  font-size: 60%;
}
#card-element {
  width: 80%;
  /* height: 30px; */
  align-self: center;
  font-size: 20px;
}
#receiverInfoPackageDisplay {
  flex-direction: column;
  display: flex;
}

#receiverInfoPackageDisplay span {
  display: flex;
  align-items: center;
}

#receiverItemPackageDisplay {
  justify-content:space-between;
}
#recieverCardPackageDisplay {
  flex-direction: column;
}
#recieverCardPackageDisplay textarea {
  min-height: 150px;
  font-size: 150%;
}

.adminPages {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* background: blue; */
}
#ordersAdminPage {

}
#donationsAdminPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#donationsDisplay {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.donationCells {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.orderCells {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
.orderCellRecipientDivs {
  display: flex;
  justify-content: space-between;
  min-width: 25%;
}
.orderCellShippingDivs {
  display: flex;
}
.orderCellShippingDivs p {
  padding: 5px;
}
#carePackageSettingsDiv {
  display: flex;
  flex-direction: column;
}
#carePackageSettingsDiv span {
  display: flex;
  height: 40px;
  align-items:center;
  margin-left: 30px;
}
#carePackageSettingsDiv img {
  height: 90px;
}
#adminRibbonController {
  display: flex;
}
.ribbonControllerDivs {
  height: 90px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
#ribbonsSpan {
  height: 90px;
  padding-left: 30px;
}
#ribbonsSpan img {
  margin-left: -30px;
  height: 80px;
}
#carePackageItemDiv {
  display: none;
  flex-direction: column;
  width: 70vw;
  padding: 20px;
}
#carePackageItemDiv span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#carePackageItemDiv input {
  height: 50px;
  /* min-width: 200px; */
  margin-left: 10px;
  margin-right: 30px;
}
.numberInputs {
  width: 50px;
  /* min-width: 0px; */
}
.submitButtons {
  width: 100px;
  margin-top: 20px;
}
.validationPrompts {
  display: none;
  color: red;
}
#itemImageSpan {

}
#itemImageSpan img {
  height: 120px;
}
#careItemNameInput {
  min-width: 200px
}
#carePackageToolBar {
  display: flex;
}
#carePackageToolBarLeftDiv {
  display: flex;
}
#newItemBtn {

}
#cancelBtn {
  display: none;
}
#carePackageItemsDiv {
  width: 100vw;
  border-top: 2px solid lavender;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 90vw; */
  justify-content: center;
  padding-top: 20px;
}
.careItemCells {
  /* width: 100px; */
  display: flex;
  /* max-width: 300px; */
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.9);
}
.careItemCells img {
  height: 200px;
  border-radius: 3px;
  /* max-width: 300; */
}
.careItemCellHeaders {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  align-items: center;
  position: absolute;
  height: 40px;
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.5);
}
.careItemCellHeaders a {
  padding: 5px;
  display: flex;
  align-items: center;
  color: pink;
  text-decoration: none;
}
.careItemCellHeaders p {
  padding: 5px;
  display: flex;
  align-items: center;
  color: white;
}
.careItemCellInfoDivs {
  position: absolute;
  color: white;
  /* width: 100%; */
  height: 200px;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.careItemCellInfoDivs p {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.parentDisplays {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  /* background-image: url('../images/allCancersRibbon.png'),url('../images/bladderRibbon.png');
  background-position: top left, top right;

  background-repeat: no-repeat;
  background-size: contain; */
}

#homeRibbonDiv {
  /* height: 100px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  filter: drop-shadow(0px 3px 3px #222);
  padding: 30px;

}
#homeRibbonDiv img {
  height: 100px;
}

#welcomeParentDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
}
.infoDivs {
  width: 60vw;
  padding: 20px;
  /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.9); */
  /* border-radius: 5px; */
  /* margin-bottom: 20px; */
  /* background: rgba(254, 251, 234, 0.8); */
  background: #f7f5ff;
  font-size: 120%;
}
.infoDivs h3 {
  filter: drop-shadow(0px 2px 2px #222);
}
#lowerInfoDiv {
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content:space-around;
  flex-direction: row;
  padding-top: 30px;
}
#lowerLeftInfoDiv{
  display: flex;
  flex-direction:column;

}
#lowerRightInfoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 40px;
}
#lowerRightInfoDiv img{
  max-width: 400px;
}
#lowerInfoDiv .infoDivs{
  /* margin-left: 15px; */
}
#welcomeInfoDiv {
  width: 80vw;
}
#aboutUsInfoDiv {

  /* background: rgba(220, 208, 255, 0.8); */
  /* border-bottom: 2px solid #ffff63; */
}
#infoDivider {
  height:3px;
  width: 100%;
  background: #ffff63;
  /* background: #E7E1FB; */

  /* border-bottom: 2px solid #ffff63; */
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8); */
  filter: drop-shadow(0px 0px 3px #222);
}
#quickShopInfoDivAncContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* li {
  list-style: none;
}

span {
  width: 80px;
  height: 40px;
  border-radius: 20px;
} */

#donateParentDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f7f5ff;
  /* font-family: ariel; */
}

#donationAmountInputDiv {
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 50px;
  /* background: white; */
  font-size: 30px;
  /* padding: 5px; */
  border-bottom: 2px solid grey;
}

#donationAmountInputDiv input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#donationAmountInput {
  border: none;
  width:80px;
  height: inherit;
  font-size: 30px;
  border: none;
  background: #f7f5ff;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
}
#donationDetailsSummaryDiv p {
  margin-left: 10px;
}
#donationDetailsTopDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  /* font-size: 80%; */
  width: 100%;
}
#donationDetailsDonationTypeDiv {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  /* padding-right: 10px; */
  justify-content: flex-end;
  height: 40px;
}
#donationDetailsDonationTypeDiv p {
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  /* height: 20px; */
}
#donationDetailsDonationTypeDiv span {
  /* height: 40px; */
  display: flex;
  align-items: center;
}
#donationDetailsCarePackAmountSelectDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  color: #4E3B86;
}
#donationDetailsCarePackAmountSelectDiv a {
  width: 80px;
  height: 80px;
  padding: 5px;
  border: 1px solid grey;
  margin-bottom: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #C4B0ff;
}
#donationDetailsCarePackAmountSelectDiv span p {
  font-size: 30px;
  /* margin-left: 12px; */
  color: #4E3B86;
  width: 95px;
}
#donationDetailsCarePackAmountSelectDiv input {
  width: 100px;
  height: 70px;
  font-size: 40px;
  color: #4E3B86;
  border: none;
  border-bottom: 2px solid grey;
  background: inherit;
  padding: 5px;
}
#donationDetailsDiv {
  width: 400px;
  border-right: 1px solid grey;
}
#donationBillingSelectHeader {
  /* border-bottom: 1px solid grey; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
#donationBillingSelectNav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border-top: 2px solid grey; */
  border-bottom: 3px solid #C4B0FF;

  /* padding: 10px; */
  /* margin-top: -1px; */
  margin-bottom:-2px;
}
#donationBillingSelectNav a {
  font-size: 30px;
  height: 30px;
  margin-top: -2px;
  text-decoration:none;
  padding: 10px;
  /* border-top: 2px solid #C4B0ff; */
  margin-top: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid grey; */
}
#donationBillingSelectNav a img {
  height: 60px;
  width: 60px;
  position:relative;
  margin-left: -50%;
  opacity: .8;
}
.donationBillingCheckboxSpans {
  height: 40px;
  padding-left: 20px;
}
#donationBillingAnonCheckboxSpan input {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
#payment-form {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}
#payment-form button {
  margin-top: 20px;
  /* width: 100px; */
  height: 60px;
  background: #C4B0FF;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: #f7f5ff;
}

#creditBillingDiv {

}

.donationBillingTypeDivs span a {
  margin-left: 10px;
  text-decoration: none;
  color: #C4B0FF;
  filter: drop-shadow(0px 1px 1px black);
}
.donationDivs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background: #f7f5ff; */
  width: 50%;
  color: #4E3B86;
}

.donationDivs span {
  display: flex;
  align-items: center;
}
.donationDivs input {
  height: 40px;
  width: 100%;
  font-size: 30px;
}
.donationDivs a {
  /* filter: drop-shadow(0px 1px 1px black); */
}
#donationBillingHeaderDiv {
  color: #4E3B86;
}
#donationBillingDiv {
  /* padding: 20px; */
  justify-content: flex-start;
  min-height: 70vh;
}
#donationBillingDiv input {
  margin-bottom: 2px;
  border: none;
  border-bottom: 2px solid grey;
  background: #f7f5ff;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
}
.donationBillingTypeDivs {
  padding: 20px;
  flex-direction: column;
  /* background: rgba(196, 176, 255, 0.6); */
}
.donationBillingTypeDivs p {
  font-size: 80%;
}

#paypalBillingDiv {
  width: 100%;
  align-items: center;
}
#paypalBillingHeader {
  width: 90%;
  font-size: 150%;
  text-align: center;
}
.paypal-button-number-1 {
  display: none;
}

.toggle-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 70px;
  height: 40px;
  pointer-events: none;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #fff;
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 8px;
  background-color: #C4B0FF;
  transition: 0.2s;
  pointer-events: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.9);
}

.slider::after {
  position: absolute;
  /* content: "One Time"; */
  height: 24px;
  width: 24px;
  right: 10px;
  bottom: 6px;
  transition: 0.2s;
  pointer-events: none;
  color: #fff;
}
card {
  font-size: 30px;
}
#card-element {
  /* height: 40px; */
  /* width: 300px; */
  /* font-size: 30px; */
  border-bottom: 2px solid grey;
}

input:checked + .slider {
  /* background-color: #2196f3; */
}
input:checked + .slider:before {
  transform: translateX(30px);
}
input:checked + .slider:after {
  /* content: "Monthly"; */
  left: 8px;
}

.slider.round {
  border-radius: 34px;
  /* background-image: url(''); */
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.slider.round:before {
  border-radius: 50%;
}


#signUpDisplay {
  font-size: 150%;
}
#signUpForm {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#signUpFormInputDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#signUpForm input {
  margin-bottom: 2px;
  border: none;
  border-bottom: 2px solid grey;
  background: #f7f5ff;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
  width: 100%;
  font-size: 150%;
}

footer {
  display: flex;
  height: 100px;
}

#footerLogoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7E1FB;
  width: 100vw;
  padding: 20px;
  margin-bottom: -10px;
  color:#ffff63;
  font-size: 200%;
}
#footerLogoDiv p {
  filter: drop-shadow(0px 3px 3px #222);
}
#footerLogoDiv h1 {
  filter: drop-shadow(0px 3px 3px #222);
}
#footerLogoDiv img {
  height: 130px;
  filter: drop-shadow(0px 3px 3px #222);

}
