<div class="parentDisplays" id="adminParentDisplay" ng-controller="adminCtrl">


  <div class="" id="adminNav">

    <a href="" ng-click="thisAdminPage('carepackage')">Care Packages</a>
    <a href="" ng-click="thisAdminPage('orders')">Orders</a>
    <a href="" ng-click="thisAdminPage('donations')">Donations</a>
    <!-- <a href="" ng-click="thisAdminPage('news')">News</a>
    <a href="" ng-click="thisAdminPage('events')">Events</a> -->

  </div>

  <div class="adminPages" id="carepackageAdminPage">

    <h1>Care Packages</h1>

    <div class="" id="carePackageSettingsDiv">

      <span>
        <p>Care Package Price  $</p>
        <input class="numberInputs" min="0"  type="number" name="" value="" ng-model="carePackagePrice">
        <button type="button" name="button" ng-click="editCarePackagePrice()">Edit</button>
        <button type="button" name="button" ng-click="saveCarePackagePrice()">Save</button>
        <button type="button" name="button" ng-click="cancelEditCarePackagePrice()">Cancel</button>
      </span>
      <span>
        <h3>Costs</h3>
        <span class="packageCostsDiv" ng-repeat="tag in packageCosts.tags">

          <p>{{tag.tag}}</p>
          <p>${{tag.cost}}</p>

        </span>
      </span>
      <div id="newRibbonImageSpan">
        <h3>New Ribbon</h3>
        <input type="text" name="" value="" ng-model="newRibbon.name">
        <input id="newRibbonImageInput" type="file" name="" value="">
        <div id="newRibbonImageDiv">

        </div>
        <button type="button" name="button" ng-click="addNewRibbon()">Add</button>
        <!-- <img id="newRibbonImage" src="" alt=""> -->
        <span id="ribbonsSpan">

        </span>
      </div>


    </div>

    <div class="careItemMangementDivs" id="carePackageItemDiv">
      <h3 class="careItemTitles" id="newCareItemTitle" ng-if="mode == 'new'">New Care Item</h3>
      <h3 class="careItemTitles" id="editCareItemTitle" ng-if="mode == 'edit'">Edit Care Item</h3>
      <h3 class="careItemTitles" id="careItemTitle" ng-if="mode == 'view'">Care Items</h3>

      <span>
        <p>Name</p>
        <input id="careItemNameInput" ng-model="item.name" type="text" name="" value="">
        <p class="validationPrompts" id="nameValidationPrompt">Need Name</p>
        <p>$</p>
        <input id="careItemPriceInput" ng-model="item.price" class="numberInputs" type="number" name="" value="">
        <p class="validationPrompts" id="priceValidationPrompt">Need Price</p>
        <p>Tags (Use "," to seperate tags)</p>
        <input type="text" name="" value="" placeholder="all, melanoma, childhood" ng-model="item.tags">
        <p class="validationPrompts" id="tagValidationPrompt">Need Tag(s)</p>
      </span>
      <span id="itemImageSpan">
        <p class="validationPrompts" id="imageValidationPrompt">Need Image</p>
        <input id="newImageInput" type="file" ng-model="item.ImageInput">
        <!-- <button type="button" name="button" ng-click="showImage()">Use</button> -->
        <!-- <img src="{{item.image}}" alt=""> -->

      </span>
      <p>Description</p>
      <p class="validationPrompts" id="descriptionValidationPrompt">Description Needed</p>
      <textarea name="name" rows="8" cols="80" ng-model="item.description"></textarea>

      <button id="newCareItemButton" class="submitButtons" type="button" name="button" ng-click="sendCareItem('new')">Add Item</button>
      <button id="editCareItemButton" class="submitButtons" type="button" name="button" ng-click="sendCareItem('edit')">Save Edit</button>

    </div>
    <!-- <div class="careItemMangementDivs" id="editCarePackageItemDiv">
      <h3>New Care Package Item</h3>
      <span>
        <p>Name</p>
        <input id="careItemNameInput" ng-model="editItem.name" type="text" name="" value="">
        <p class="validationPrompts" id="nameValidationPrompt">Need Name</p>
        <p>$</p>
        <input id="careItemPriceInput" ng-model="editItem.price" class="numberInputs" type="number" name="" value="">
        <p class="validationPrompts" id="priceValidationPrompt">Need Price</p>
        <p>Tags (Use "," to seperate tags)</p>
        <input type="text" name="" value="" placeholder="all, melanoma, childhood" ng-model="editItem.tags">
        <p class="validationPrompts" id="tagValidationPrompt">Need Tag(s)</p>
      </span>
      <span>
      </span>
      <span id="item.ImageSpan">
        <p class="validationPrompts" id="imageValidationPrompt">Need Image</p>
        <input id="newImageInput" type="file" ng-model="item.ImageInput"> -->
        <!-- <button type="button" name="button" ng-click="showImage()">Use</button> -->
        <!-- <img src="{{editItem.image}}" alt=""> -->

      <!-- </span>
      <p>Description</p>
      <p class="validationPrompts" id="descriptionValidationPrompt">Description Needed</p>
      <textarea name="name" rows="8" cols="80" ng-model="editItem.description"></textarea>

      <button id="addCareItemButton" class="submitButtons" type="button" name="button" ng-click="addCareItem()">Add Item</button>

    </div> -->
    <div class="" id="carePackageToolBar">
      <div class="" id="carePackageToolBarLeftDiv">
        <a id="newItemBtn" href="" ng-click="newCareItem()">New Item</a>
        <a id="cancelBtn" href="" ng-click="cancel()">Cancel</a>
      </div>
      <!-- <div class="" id="carePackageToolBarRightDiv">
        <a href="">New Item</a>
        <a href="">Cancel</a>
      </div> -->
    </div>

    <div class="" id="carePackageItemsDiv">

    </div>

  </div>

  <div class="adminPages" id="ordersAdminPage">
    <h1>Orders</h1>

    <button type="button" name="button" ng-click="buildOrderCSV()">To CSV</button>
    <div class="" id="ordersDisplay">

      <div class="orderCells" ng-repeat="order in orders">
        <div class="orderCellRecipientDivs">
          <p>{{order.orderData.recipient.name}}</p>
          <div class="orderCellRecipientDiognosiesDivs" ng-repeat="dio in order.orderData.recipient.diognosies">
            <p>{{dio.name}}</p>
          </div>
        </div>
        <div class="orderCellShippingDivs">
          <p>{{order.orderData.shipping.address}}, </p>
          <p> {{order.orderData.shipping.city}}, </p>
          <p> {{order.orderData.shipping.state}}</p>
          <p ng-if="order.orderData.shipping.room != ''">{{order.orderData.shipping.room}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="adminPages" id="donationsAdminPage">
    <h1>Donations</h1>
    <div class="" id="donationsDisplay">
      <div class="donationCells" ng-repeat="donation in donations track by $index">
        <p>{{donation.fullName}}</p>
        <p>{{donation.email}}</p>
        <p ng-if="donation.invoice.recurring == false">One-time</p>
        <p ng-if="donation.invoice.recurring == true">Recurring</p>
        <p>{{donation.invoice.packs}} care packages @ ${{donation.invoice.packagePrice}}per, plus ${{donation.invoice.rollover}} for a total of ${{donation.invoice.total}}</p>
      </div>
    </div>
  </div>

  <div class="adminPages" id="newsAdminPage">
    <h1>News</h1>
  </div>

  <div class="adminPages" id="eventsAdminPage">
    <h1>Events</h1>
  </div>


</div>
