<div class="parentDisplays" id="adminParentDisplay" ng-controller="adminCtrl">
  <title>Yellow Bag of Humanity Administration Controller</title>

  <div class="" id="adminNav">

    <a href="" id="carepackageNavAnc" ng-click="thisAdminPage('carepackage')">Care Packages</a>
    <a href="" id="ordersNavAnc" ng-click="thisAdminPage('orders')">Orders</a>
    <a href="" id="shippingRatesNavAnc" ng-click="thisAdminPage('shippingRates')">Shipping Rates</a>
    <a href="" id="donationsNavAnc" ng-click="thisAdminPage('donations')">Donations</a>
    <a href="" id="testimonialsNavAnc" ng-click="thisAdminPage('testimonials')">Testimonials</a>

    <!-- <a href="" ng-click="thisAdminPage('news')">News</a>
    <a href="" ng-click="thisAdminPage('events')">Events</a> -->

  </div>

  <div class="adminPages" id="shippingRatesAdminPage">

    <div class="shippingRateInfoDisplays" id="shippingBoxSizeForm">

      <span>
        <input min="1" type="number" name="" value="" placeholder="Length (in)" ng-model="boxSize.length">
        <p>x</p>
        <input min="1" type="number" name="" value="" placeholder="Width (in)" ng-model="boxSize.width">
        <p>x</p>
        <input min="1" type="number" name="" value="" placeholder="Height (in)" ng-model="boxSize.height">
      </span>

      <input min="1" type="number" name="" value="" placeholder="Weight (lbs)" ng-model="boxSize.weight">

      <a href="" ng-click="saveDimensionChanges()">Save Changes</a>

    </div>

    <div class="shippingRateInfoDisplays" id="shippingRatesForm">

      <input type="file" name="" value="" id="shippingCsvInput" accept=".csv" ng-model="newShippingRates">
      <input type="text" name="" value="" placeholder="Shipping Name" ng-model="newShippingRatesName">
      <a href="" id="uploadShippingRatesAnc" ng-click="uploadShippingRates()">Upload Shipping Rates</a>

    </div>
    <div class="shippingRateInfoDisplays" id="shippingRateTiersDisplay">
      <div class="shippingRatesOptions" ng-repeat="option in tierShippingRates track by $index">
        <div class="shippingRateRows" ng-repeat="row in option track by $index">
          <p class="shippingRateCells" ng-repeat="rate in row track by $index">{{rate}}</p>
        </div>
      </div>
    </div>

    <div class="shippingRateInfoDisplays" id="shippingRatesDisplay">

      <div class="shippingRatesOptions" ng-repeat="option in shippingRates track by $index">
        <div class="shippingRateRows" ng-repeat="row in option.rates track by $index">
          <p class="shippingRateCells" ng-repeat="rate in row track by $index">{{rate}}</p>
        </div>
      </div>

    </div>
    <!-- <input type="submit" value="Submit" /> -->
  </div>

  <div class="adminPages" id="testimonialsAdminPage">
    <h1>Testimonials</h1>
    <div class="" id="testimonialSettingsDiv">
      <span>
        <p>Name</p>
        <input type="text" name="" value="" ng-model="testimonialSettings.inputs.name">
      </span>

      <p>Testimonial</p>
      <textarea id="testimonialTextInput" type="text" name="" value="" ng-model="testimonialSettings.inputs.testimonial"></textarea>

      <span>
        <button ng-if="testimonialSettings.mode == 'new' && testimonialSettings.inputs.testimonial != ''" type="button" name="button" ng-click="addTestimonial()">Add Testimonial</button>
        <button ng-if="testimonialSettings.mode == 'edit'" type="button" name="button" ng-click="editTestimonial()">Save Edit</button>
        <button ng-if="testimonialSettings.mode == 'edit'" type="button" name="button" ng-click="cancelTestimonialEdit()">Cancel</button>
      </span>
      <button ng-if="testimonialSettings.mode == 'edit'" type="button" name="button" ng-click="removeTestimonial()">Delete</button>

    </div>
    <div class="" id="adminTestimonialsDisplay">
      <a href="" class="adminTestimonialCells" ng-repeat="t in testimonials track by $index" ng-click="thisTestimonial(t)">
        <p>Name: {{t.testimonial_data.name}}</p>
        <p>Testimonial: {{t.testimonial_data.testimonial}}</p>
      </a>
    </div>
  </div>

  <div class="adminPages" id="carepackageAdminPage">

    <h1>Care Packages</h1>

    <div class="" id="carePackageSettingsDiv">

      <span id="carePackagePriceSpan">
        <p>Care Package Price  $</p>
        <p id="carePackagePriceText">{{carePackagePrice.toFixed(2)}}</p>
        <input id="carePackagePriceInput" class="numberInputs" min="0"  type="number" name="" value="" ng-model="carePackagePrice">
        <button id="editCPPriceBtn" type="button" name="button" ng-click="editCarePackagePrice()">Edit</button>
        <button id="saveCPPriceBtn" type="button" name="button" ng-click="saveCarePackagePrice()">Save</button>
        <button id="cancelCPEditBtn" type="button" name="button" ng-click="cancelEditCarePackagePrice()">Cancel</button>
      </span>
      <span id="packageCostsSpan">
        <h3>Package Costs</h3>
        <span class="packageCostsDiv" ng-repeat="tag in packageCosts.tags">

          <p>{{tag.tag}}</p>
          <p>${{tag.cost}}</p>

        </span>
      </span>
      <div class="" id="adminRibbonController">
        <div class="" id="ribbonPreviewContainer">

        </div>
        <div id="" class="ribbonControllerDivs" ng-if="editRibbon == false">
          <p>New Ribbon</p>
          <input class="ribbonNameInputs" type="text" name="" value="" ng-model="newRibbon.name" placeholder="Name" ng-change="newRibbonPreview()">
          <input class="ribbonNameInputs" type="text" name="" value="" ng-model="newRibbon.colors[0]" placeholder="Primary" ng-change="newRibbonPreview(); newRibbonColor();">
          <input class="ribbonNameInputs" type="text" name="" value="" ng-model="newRibbon.colors[1]" placeholder="Secondary" ng-change="newRibbonPreview(); newRibbonColor();">
          <input class="ribbonNameInputs" type="text" name="" value="" ng-model="newRibbon.colors[2]" placeholder="Third/Accent" ng-change="newRibbonPreview(); newRibbonColor();">
          <!-- <input id="newRibbonImageInput" type="file" name="" value=""> -->
          <div id="newRibbonImageDiv">

          </div>
          <button type="button" name="button" ng-click="addNewRibbon()">Add</button>
          <!-- <img id="newRibbonImage" src="" alt=""> -->
        </div>
        <div id="" class="ribbonControllerDivs" ng-if="editRibbon == true">
          <h3>Edit Ribbon</h3>
          <input class="ribbonNameInputs" type="text" name="" value="" ng-model="ribbonToEdit.ribbonData.name" placeholder="Name">
          <input id="editRibbonImageInput" type="file" name="" value="">
          <div id="editRibbonImageDiv">

          </div>
          <button type="button" name="button" ng-click="saveRibbonEdit()">Save</button>
          <button type="button" name="button" ng-click="cancelRibbonEdit()">Cancel</button>
          <!-- <img id="newRibbonImage" src="" alt=""> -->
        </div>

      </div>


    </div>
    <span id="ribbonsSpan">

    </span>

    <div class="careItemMangementDivs" id="carePackageItemDiv">
      <h3 class="careItemTitles" id="newCareItemTitle" ng-if="mode == 'new'">New Care Item</h3>
      <h3 class="careItemTitles" id="editCareItemTitle" ng-if="mode == 'edit'">Edit Care Item</h3>
      <h3 class="careItemTitles" id="careItemTitle" ng-if="mode == 'view'">Care Items</h3>

      <span>
        <p>Name</p>
        <input id="careItemNameInput" ng-model="item.name" type="text" name="" value="">
        <p class="validationPrompts" id="nameValidationPrompt">Need Name</p>
        <p>$</p>
        <input id="careItemPriceInput" ng-model="item.price" class="numberInputs" type="number" name="" value="">
        <p class="validationPrompts" id="priceValidationPrompt">Need Price</p>
        <p>Tags (Use "," to seperate tags)</p>
        <input type="text" name="" value="" placeholder="all, melanoma, childhood" ng-model="item.tags">
        <p class="validationPrompts" id="tagValidationPrompt">Need Tag(s)</p>
      </span>
      <span id="itemImageSpan">
        <p class="validationPrompts" id="imageValidationPrompt">Need Image</p>
        <input id="newImageInput" type="file" ng-model="item.ImageInput">
        <!-- <button type="button" name="button" ng-click="showImage()">Use</button> -->
        <!-- <img src="{{item.image}}" alt=""> -->

      </span>
      <p>Description</p>
      <p class="validationPrompts" id="descriptionValidationPrompt">Description Needed</p>
      <textarea name="name" rows="8" cols="80" ng-model="item.description"></textarea>

      <button id="newCareItemButton" class="submitButtons" type="button" name="button" ng-click="sendCareItem('new')">Add Item</button>
      <button id="editCareItemButton" class="submitButtons" type="button" name="button" ng-click="sendCareItem('edit')">Save Edit</button>

    </div>
    <!-- <div class="careItemMangementDivs" id="editCarePackageItemDiv">
      <h3>New Care Package Item</h3>
      <span>
        <p>Name</p>
        <input id="careItemNameInput" ng-model="editItem.name" type="text" name="" value="">
        <p class="validationPrompts" id="nameValidationPrompt">Need Name</p>
        <p>$</p>
        <input id="careItemPriceInput" ng-model="editItem.price" class="numberInputs" type="number" name="" value="">
        <p class="validationPrompts" id="priceValidationPrompt">Need Price</p>
        <p>Tags (Use "," to seperate tags)</p>
        <input type="text" name="" value="" placeholder="all, melanoma, childhood" ng-model="editItem.tags">
        <p class="validationPrompts" id="tagValidationPrompt">Need Tag(s)</p>
      </span>
      <span>
      </span>
      <span id="item.ImageSpan">
        <p class="validationPrompts" id="imageValidationPrompt">Need Image</p>
        <input id="newImageInput" type="file" ng-model="item.ImageInput"> -->
        <!-- <button type="button" name="button" ng-click="showImage()">Use</button> -->
        <!-- <img src="{{editItem.image}}" alt=""> -->

      <!-- </span>
      <p>Description</p>
      <p class="validationPrompts" id="descriptionValidationPrompt">Description Needed</p>
      <textarea name="name" rows="8" cols="80" ng-model="editItem.description"></textarea>

      <button id="addCareItemButton" class="submitButtons" type="button" name="button" ng-click="addCareItem()">Add Item</button>

    </div> -->
    <div class="" id="carePackageToolBar">
      <div class="" id="carePackageToolBarLeftDiv">
        <a id="newItemBtn" href="" ng-click="newCareItem()">New Item</a>
        <a id="cancelBtn" href="" ng-click="cancel()">Cancel</a>
      </div>
      <!-- <div class="" id="carePackageToolBarRightDiv">
        <a href="">New Item</a>
        <a href="">Cancel</a>
      </div> -->
    </div>

    <div class="" id="carePackageItemsDiv">

    </div>

  </div>

  <div class="adminPages" id="ordersAdminPage">
    <h1>Orders</h1>

    <button id="buildOrderCSVBtn" type="button" name="button" ng-click="buildOrderCSV()">To CSV</button>
    <div class="" id="ordersDisplay">

      <div class="orderCells" ng-repeat="order in orders">
        <div class="orderCellRecipientDivs">
          <p>{{order.orderData.recipient.name}}</p>
        </div>
        <div class="orderCellRecipientDiagnosiesDivs" ng-repeat="dio in order.orderData.recipient.diagnosies">
          <!-- <p ng-if="dio.name">{{dio.name}}</p> -->
          <p>{{dio}}</p>
        </div>
        <div class="orderCellShippingDivs">
          <p>{{order.orderData.shipping.address}} {{order.orderData.shipping.city}}, {{order.orderData.shipping.state}}</p>

          <p ng-if="order.orderData.shipping.room != ''">{{order.orderData.shipping.room}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="adminPages" id="donationsAdminPage">
    <h1>Donations</h1>
    <div class="" id="donationsDisplay">
      <div class="donationCells" ng-repeat="donation in donations track by $index">
        <p class="donationCellNames">{{donation.fullName}}</p>
        <p class="donationCellEmails">{{donation.email}}</p>
        <p class="donationCellTypes" ng-if="donation.invoice.recurring == false">One-time:</p>
        <p class="donationCellTypes" ng-if="donation.invoice.recurring == true">Recurring:</p>
        <p class="donationCellDescriptions">{{donation.invoice.packs}} care packages @ ${{donation.invoice.packagePrice}}per, plus ${{donation.invoice.rollover}} for a total of </p>
        <p class="donationCellTotals">${{donation.invoice.total}}</p>
      </div>
    </div>
  </div>

  <div class="adminPages" id="newsAdminPage">
    <h1>News</h1>
  </div>

  <div class="adminPages" id="eventsAdminPage">
    <h1>Events</h1>
  </div>


</div>
