<div class="parentDisplays" id="adminParentDisplay" ng-controller="adminCtrl">


  <div class="" id="adminNav">

    <a href="" ng-click="thisAdminPage('carepackage')">Care Packages</a>
    <a href="" ng-click="thisAdminPage('news')">News</a>
    <a href="" ng-click="thisAdminPage('events')">Events</a>

  </div>

  <div class="adminPages" id="carepackageAdminPage">

    <h1>Care Packages</h1>

    <div class="" id="newCarePackageItemDiv">
      <h3>New Care Package Item</h3>
      <span>
        <p>Name</p>
        <input id="newCareItemNameInput" ng-model="newItem.name" type="text" name="" value="">
        <p class="validationPrompts" id="nameValidationPrompt">Need Name</p>
        <p>$</p>
        <input id="newCareItemPriceInput" ng-model="newItem.price" class="numberInputs" type="number" name="" value="">
        <p class="validationPrompts" id="priceValidationPrompt">Need Price</p>
      </span>
      <span>
      </span>
      <span id="newItemImageSpan">
        <p class="validationPrompts" id="imageValidationPrompt">Need Image</p>
        <input id="newImageInput" type="file" ng-model="newItemImageInput">
        <!-- <button type="button" name="button" ng-click="showImage()">Use</button> -->
        <!-- <img src="{{newItem.image}}" alt=""> -->

      </span>
      <p>Description</p>
      <p class="validationPrompts" id="descriptionValidationPrompt">Description Needed</p>
      <textarea name="name" rows="8" cols="80" ng-model="newItem.description"></textarea>

      <button id="addCareItemButton" class="submitButtons" type="button" name="button" ng-click="addCareItem()">Add Item</button>

    </div>

    <div class="" id="carePackageItemsDiv">

      <div class="careItemCells" id="{{$index}}CareItemCell" ng-repeat="item in careItems track by $index">

        <img src="{{item.image}}" alt="">
        
        <div class="careItemCellInfoDivs">
          <p>{{item.name}}</p>
          <p>${{item.price}}</p>

        </div>
        <!-- <p>{{item.description}}</p> -->

      </div>

    </div>

  </div>

  <div class="adminPages" id="newsAdminPage">
    <h1>News</h1>
  </div>

  <div class="adminPages" id="eventsAdminPage">
    <h1>Events</h1>
  </div>


</div>
