<div class="parentDisplays" id="carepackageParentDisplay" ng-controller="orderCtrl">
  <title>Donate a Bag to Someone You Know</title>


  <div class="packageDisplays" id="receiverInfoPackageDisplay">
    <h1>Donate a bag to someone you know</h1>
    <p>If you know someone who needs a little comfort; donate, and we will send a Yellow Bag to anyone in the Nation</p>
    <h3>Tell us a little about them</h3>
    <span>
      <!-- <p>Recipient</p> -->
      <input id="shippingRecipientInput" type="text" name="" value="" placeholder="Recipient" ng-model="order.recipient.name" required="required">
      <!-- <p class="requireIcons" id="recipientRequireIcon">*</p> -->
    </span>
    <span id="receiverInfoDiagnosiesSpan">
      <p>Diagnosies</p>
      <div class="" id="receiverInfoDiagnosiesDropdownContainer">
        <div ng-if="order.recipient.diagnosies[$index-1] != ''" id="receiverInfoDiagnosiesDropdownCell{{$index}}" class="receiverInfoDiagnosiesDropdownCells" ng-repeat="dropdown in order.recipient.diagnosies track by $index">
          <select id="receiverInfoDiagnosiesDropdown{{$index}}" class="receiverInfoDiagnosiesDropdowns" ng-model="order.recipient.diagnosies[$index]" ng-change="selectDiagnosis($index)" name="">
            <option value="" disabled required="required">Add Diagnosis</option>
            <option value="{{dio.ribbonData.name}}" ng-repeat="dio in ribbons">{{dio.ribbonData.name}}</option>
          </select>
          <a id="receiverInfoDiagnosiesRemoveAnc{{$index}}" ng-if="order.recipient.diagnosies[$index] != '' && order.recipient.diagnosies[$index] != null" href="" ng-click="removeDiagnosis(order.recipient.diagnosies[$index])">X</a>
        </div>
        <!-- <select id="receiverInfoDiagnosiesDropdown1" class="receiverInfoDiagnosiesDropdowns" ng-model="order.recipient.diagnosies[1].name" ng-change="selectDiagnosis(1)" name="">
          <option value="" disabled required="required">Add Diagnosis</option>
          <option value="{{dio.ribbonData.name}}" ng-repeat="dio in ribbons track by $index">{{dio.ribbonData.name}}</option>
        </select>
        <a id="receiverInfoDiagnosiesRemoveAnc1" ng-if="order.recipient.diagnosies[1].name != ''" href="" ng-click="removeDiagnosis(1)">X</a> -->
      </div>
    </span>

    <div class="checkoutFormDivs" id="shippingInfoCheckoutFormDiv">
      <h3>Shipping Information</h3>
      <span>
        <input type="text" id="shippingAddressInput" name="address" value="" placeholder="Address" ng-model="order.shipping.address" required="required">
        <!-- <p class="requireIcons" id="addressRequireIcon">*</p> -->
        <select type="text" id="shippingStateDropdown" name="state" value="" placeholder="State" default="State" ng-model="order.shipping.state" ng-change="selectShippingState()" required="required">
          <option value="" disabled selected>State</option>
          <option value="{{s.name}}" ng-repeat="s in states">{{s.code}}</option>
        </select>
        <!-- <p class="requireIcons" id="stateRequireIcon">*</p> -->
        <select id="shippingCityDropdown" type="text" name="city" value="" placeholder="City" ng-model="order.shipping.city" required="required">
          <option value="" disabled selected>City</option>
        </select>
        <!-- <p class="requireIcons" id="cityRequireIcon">*</p> -->
        <input id="rmNum" type="text" name="apt" value="" placeholder="Apt/Rm #" ng-model="order.shipping.room">
      </span>


    </div>

    <div class="packageDisplayNavs">
      <a href="" ng-click="changeOrderDisplay('c')">To Checkout</a>
    </div>

  </div>
  <!-- <div class="packageDisplays" id="receiverItemPackageDisplay">

    <div class="careItemCells" ng-if="careItemsToDisplay" ng-repeat="item in careItemsToDisplay">

      <img src="{{item.image}}" alt="">

    </div>

    <div class="packageDisplayNavs">
      <a href="" ng-click="changeOrderDisplay('b')">Back</a>
      <a href="" ng-click="changeOrderDisplay('c')">Continue</a>
    </div>

  </div> -->

  <div class="packageDisplays" id="receiverCheckoutPackageDisplay">

    <div class="packageDisplayNavs">
      <a href="" ng-click="changeOrderDisplay('b')">Back to Shipping</a>
    </div>


    <div class="checkoutFormDivs" id="billingInfoCheckoutFormDiv">
      <h3>Billing Information</h3>

      <span>
        <input id="billingEmailInput" type="text" name="" value="" placeholder="Email" ng-model="order.billing.email">
        <input id="billingFNameInput" type="text" name="" value="" placeholder="First Name" ng-model="order.billing.fName">
        <input id="billingLNameInput" type="text" name="" value="" placeholder="Last Name" ng-model="order.billing.lName">
      </span>


    </div>
    <h3>Package Cost: ${{order.billing.total}}</h3>
    <h3>+ ${{shippingPrice}} Shipping</h3> 
    <form id="payment-form">
      <div id="card-element">
        <!-- Elements will create input elements here -->
      </div>

      <!-- We'll put the error messages in this element -->
      <div id="card-errors" role="alert"></div>

      <button id="submit" ng-click="confirmOrder()">Submit Donation</button>
    </form>

  </div>
  <!-- <div class="loading loading-a">Loading&#8230;</div> -->
  <div class="loadMask">

  </div>
  <div id="yellowbagloadinganim1_hype_container" class="HYPE_document">

  </div>

</div>
