<div class="parentDisplays" id="donateParentDisplay" ng-controller="donateCtrl">

  <div class="donationDivs" id="donationDetailsDiv">

    <div class="" id="donationDetailsTopDiv">

      <div class="" id="donationDetailsDonationTypeDiv">

        <p>Donations:</p>
        <span>
          <p id="oneTimeText">One-Time</p>
          <div class="toggle-container">
            <input type="checkbox" ng-model="donations.inputs.monthly" ng-change="selectDonationType()" />
            <div class="slider round"></div>
          </div>
          <p id="monthlyText">Monthly</p>
        </span>

      </div>

      <div class="" id="donationAmountInputDiv">

        <p>$</p>
        <input id="donationAmountInput" type="number" min="0" step="0.01" name="" value="" ng-model="donations.inputs.amount" ng-change="changeAmount()">

      </div>

    </div>
    <div class="" id="donationDetailsBottomDiv">

      <p>Donate Packages</p>

      <div class="" id="donationDetailsCarePackAmountSelectDiv">

        <a id="1CarePackAnc" href="" ng-click="selectCarePackAmounts(1)" >1</a>
        <a id="3CarePackAnc" href="" ng-click="selectCarePackAmounts(3)" >3</a>
        <a id="5CarePackAnc" href="" ng-click="selectCarePackAmounts(5)" >5</a>
        <a id="10CarePackAnc" href="" ng-click="selectCarePackAmounts(10)" >10</a>
        <a id="15CarePackAnc" href="" ng-click="selectCarePackAmounts(15)" >15</a>
        <a id="20CarePackAnc" href="" ng-click="selectCarePackAmounts(20)" >20</a>
        <a id="30CarePackAnc" href="" ng-click="selectCarePackAmounts(30)" >30</a>
        <a id="50CarePackAnc" href="" ng-click="selectCarePackAmounts(50)" >50</a>
        <a id="75CarePackAnc" href="" ng-click="selectCarePackAmounts(75)" >75</a>
        <a id="100CarePackAnc" href="" ng-click="selectCarePackAmounts(100)" >100</a>


        <span>
          <p>Other:</p>
          <input type="number" name="" value="" ng-model="donations.inputs.packs" ng-change="otherPacks()">
        </span>

      </div>

      <div class="" id="donationDetailsSummaryDiv">

        <span>

          <p class="variableDonationTexts" id="oneTimeDonationSummaryText">One-time donation of</p>
          <p class="variableDonationTexts" id="monthlyDonationSummaryText">Monthly donations of</p>
          <p ng-if="donations.inputs.packs == 1">{{donations.inputs.packs}} Care Pack</p>
          <p ng-if="donations.inputs.packs > 1">{{donations.inputs.packs}} Care Packs</p>

        </span>
        <p ng-if="donations.rolloverAmount != 0"> plus ${{donations.rolloverAmount}}</p>
        <p>For a total of ${{donations.inputs.amount}}</p>

      </div>

    </div>

  </div>

  <div class="donationDivs" id="donationBillingDiv">

    <div class="" id="donationBillingHeaderDiv">
      <h2>Donate and help support someone through their struggle today</h2>
    </div>

    <p id="donationBillingSelectHeader">Payment Type</p>

    <div class="" id="donationBillingSelectNav">

      <a href="" id="creditTypeAnc" ng-click="selectBillingType('credit')">Credit/Debit</a>
      <a href="" id="paypalTypeAnc" ng-click="selectBillingType('paypal')">Pay-Pal</a>
      <a href="" id="otherTypeAnc" ng-click="selectBillingType('other')">Other Ways To Give</a>

    </div>




    <div class="donationBillingTypeDivs" id="creditBillingDiv">
      <p ng-if="donations.inputs.monthly">Monthly donations require an account, and can be adjusted or canceled at anytime.</p>
      <span ng-if="signedIn == false">
        <p>Already have an account?</p>
        <a href="/#!/signIn">Log in</a>
      </span>
      <span>
        <!-- <p>Email</p> -->
        <input type="text" name="" value="" ng-model="donations.inputs.billing.email" placeholder="Email">
      </span>
      <span>
        <!-- <p>Email</p> -->
        <input ng-if="signedIn == false && donations.inputs.monthly == true" type="password" name="password" value="" ng-if="donations.inputs.monthly == true" ng-model="donations.inputs.billing.password" placeholder="Password" autocomplete="new-password">
      </span>
      <span ng-if="donations.inputs.billing.password != ''">
        <!-- <p>Email</p> -->
        <input ng-if="signedIn == false" type="password" name="password" value="" ng-if="donations.inputs.monthly == true" ng-model="donations.inputs.billing.confirmPassword" placeholder="Confirm Password" autocomplete="new-password">
      </span>
      <span>
        <!-- <p>Full Name</p> -->
        <input type="text" name="" value="" ng-model="donations.inputs.billing.fullName" placeholder="Full Name">
      </span>
      <span class="donationBillingCheckboxSpans" id="donationBillingAnonCheckboxSpan">
        <input type="checkbox" name="" value="" ng-model="donations.inputs.anon">
        <p><i>Donate anonymously</i></p>
      </span>


      <form id="payment-form">
        <div id="card-element">
          <!-- Elements will create input elements here -->
        </div>

        <!-- We'll put the error messages in this element -->
        <div id="card-errors" role="alert"></div>

        <button id="submit" ng-click="confirmDonation()">Please Enter Valid Name and Email address</button>
      </form>

    </div>

    <div class="donationBillingTypeDivs" id="paypalBillingDiv">
      <p id="paypalBillingHeader">Please click on the link below and follow the instructions provided to complete your <b ng-if="donations.inputs.monthly == true">Monthly</b> <b>${{donations.totalAmount}}</b> donation.</p>
      <span>
        <!-- <p>Email</p> -->
        <input type="password" name="password" value="" ng-if="donations.inputs.monthly == true" ng-model="donations.inputs.billing.password" placeholder="Password" autocomplete="new-password">
      </span>
      <span ng-if="donations.inputs.billing.password != ''">
        <!-- <p>Email</p> -->
        <input type="password" name="password" value="" ng-if="donations.inputs.monthly == true" ng-model="donations.inputs.billing.confirmPassword" placeholder="Confirm Password" autocomplete="new-password">
      </span>
      <span class="donationBillingCheckboxSpans" id="donationBillingAnonCheckboxSpan">
        <input type="checkbox" name="" value="" ng-model="donations.inputs.anon">
        <p><i>Donate anonymously</i></p>
      </span>
      <div id="paypal-button-container"></div>
    </div>

    <div class="donationBillingTypeDivs" id="otherBillingDiv">
      <p>Other</p>
    </div>

  </div>

</div>
