<div class="parentDisplays" id="forgotPasswordDisplay" ng-controller="authCtrl">

  <div class="forgotPasswordDivs" id="forgotPasswordFormDisplay">

    <h3>Forgot your password?</h3>
    <input type="email" placeholder="Registered Email" name="" value="" ng-model="recovery.email">
    <p class="validationPrompts" ng-if="recovery.exists == false">Email is not registered</p>
    <a href="" ng-click="requestPasswordReset()">Send Recovery Email</a>


  </div>
  <div class="forgotPasswordDivs" id="forgotPasswordConfirmationDisplay">

    <h3>Password reset email sent!</h3>
    <p>Check your email and click on the link to reset your password.</p>
    <a href="">Resend Email</a>

  </div>

</div>
