<div class="parentDisplays" id="giveTestimonialParentDisplay" ng-controller="reviewsCtrl">


  <div class="testimonialInputDivs" id="testimonialInputDiv">
    <span id="testimonialTypeSelectSpan">
      <a href="" id="recipientSelectAnc" ng-click="selectReviewType('recipient')" class="">Recipient</a>
      <a href="" id="donorSelectAnc" ng-click="selectReviewType('donor')" class="">Donor</a>
    </span>


    <input type="text" name="" value="" placeholder="Name / Alias" ng-model="newReview.name">

    <span>
      <label for="anonOption">Remain Anonymous?</label>
      <input type="checkbox" name="anonOption" value="" ng-model="newReview.anonymous">
    </span>
    <span>
      <label for="permissionOption">Allow us to post your review and comments?</label>
      <input type="checkbox" name="permissionOption" value="">
    </span>
    <span>
      <p for="">How was your Yellow Bag?</p>
      <label for="itemsSelect">How do you feel about the items?</label>
      <div name="itemsSelect" class="bagRatingSelectDivs">
        <a id="itemsSelectAnc1" href="" ng-click="ratingSelect('items',1)">1</a>
        <a id="itemsSelectAnc2" href="" ng-click="ratingSelect('items',2)">2</a>
        <a id="itemsSelectAnc3" href="" ng-click="ratingSelect('items',3)">3</a>
        <a id="itemsSelectAnc4" href="" ng-click="ratingSelect('items',4)">4</a>
        <a id="itemsSelectAnc5" href="" ng-click="ratingSelect('items',5)">5</a>
      </div>
      <label for="bagSelect">What do you think of the bag?</label>
      <div name="bagSelect" class="bagRatingSelectDivs">
        <a id="bagSelectAnc1" href="" ng-click="ratingSelect('bag',1)">1</a>
        <a id="bagSelectAnc2" href="" ng-click="ratingSelect('bag',2)">2</a>
        <a id="bagSelectAnc3" href="" ng-click="ratingSelect('bag',3)">3</a>
        <a id="bagSelectAnc4" href="" ng-click="ratingSelect('bag',4)">4</a>
        <a id="bagSelectAnc5" href="" ng-click="ratingSelect('bag',5)">5</a>
      </div>
      <label for="satisfactionSelect">How satisfied are you?</label>
      <div name="satisfactionSelect" class="bagRatingSelectDivs">
        <a id="satisfactionSelectAnc1" href="" ng-click="ratingSelect('satisfaction',1)">1</a>
        <a id="satisfactionSelectAnc2" href="" ng-click="ratingSelect('satisfaction',2)">2</a>
        <a id="satisfactionSelectAnc3" href="" ng-click="ratingSelect('satisfaction',3)">3</a>
        <a id="satisfactionSelectAnc4" href="" ng-click="ratingSelect('satisfaction',4)">4</a>
        <a id="satisfactionSelectAnc5" href="" ng-click="ratingSelect('satisfaction',5)">5</a>
      </div>
    </span>


    <label for="testimonialInput">Any Comments, Suggestions, or Concerns you'd like us to hear? </label>
    <textarea name="testimonialInput" rows="8" cols="80" ng-model="newReview.testimonial"></textarea>

    <a href="" ng-click="submitReview()">Submit</a>

  </div>

</div>
