<div class="parentDisplays" id="welcomeParentDisplay">



  <div class="" id="homeRibbonDiv">
    <img ng-if="ribbon.ribbonData.image != ''" src="{{ribbon.ribbonData.image}}" alt="" ng-repeat="ribbon in ribbons">
  </div>

<div class="infoDivs" id="welcomeInfoDiv">

    <h3>Who is Yellow Bag of Humanity?</h3>
    <p>We are providing totes of support, offering comfort, care, and encouragement to those who are undergoing treatment.</p>

  </div>
</div>
<div class="" id="lowerInfoDiv">
  <div id="lowerLeftInfoDiv">

    <div class="infoDivs" id="aboutUsInfoDiv">

      <h3>What is our purpose?</h3>
      <p>Our purpose is to provide an accessible, simple to navigate, outlet for friends, family, or anonymous supporters to uplift, gift a care package for their loved one, or make a donation to someone who has been diagnosed with cancer.</p>

    </div>

    <div class="" id="infoDivider">

    </div>

    <div class="infoDivs" id="quickShopInfoDiv">

      <h3>Are you interested in creating a Care Package?</h3>

      <div class="" id="quickShopInfoDivAncContainer">
        <a href="/#!/browse">View Our Care Items</a>
        <p><b>- or -</b></p>
        <a href="/#!/carepackage">Get Started Now</a>
      </div>

    </div>
  </div>
  <div class="" id="lowerRightInfoDiv">
    <img src="../images/toteforhomepage.jpg" alt="">
  </div>
</div>

</div>
