<div class="parentDisplays" id="welcomeParentDisplay">

  <div class="infoDivs" id="welcomeInfoDiv">

    <h3>Who are we?</h3>
    <p>Yellow Bag of Humanity is an organization comprised of a group of people that understand and support those who are enduring their journey through cancer.</p>

  </div>

  <div class="infoDivs" id="aboutUsInfoDiv">

    <h3>What is our purpose?</h3>
    <p>Our purpose is to provide an accessible, simple to navigate, outlet for friends or family to uplift and gift a care package for their loved one who has been diagnosed with cancer.</p>

  </div>

  <div class="infoDivs" id="quickShopInfoDiv">

    <h3>Interested in creating a Care Package?</h3>

    <div class="" id="quickShopInfoDivAncContainer">
      <a href="/#!/browse">View Our Care Items</a>
      <p><b>- or -</b></p>
      <a href="/#!/carepackage">Get Started Now</a>
    </div>

  </div>

</div>
