<div class="parentDisplays" id="welcomeParentDisplay">

  <div class="infoDivs" id="welcomeInfoDiv">

    <h3>What is our purpose?</h3>
    <p>We allow people to make and send personalized care packages to loved ones suffering from cancer</p>

  </div>

  <div class="infoDivs" id="quickShopInfoDiv">

    <h3>Interested in creating a Care Package?</h3>

    <div class="" id="quickShopInfoDivAncContainer">
      <a href="/#!/browse">View Our Care Items</a>
      <p><b>- or -</b></p>
      <a href="/#!/carepackage">Get Started Now</a>
    </div>

  </div>

</div>
