<div class="parentDisplays" id="passwordResetDisplay" ng-controller="resetPasswordCtrl">

  <div class="forgotPasswordDivs" id="passwordResetFormDisplay">

    <h3>Reset your password</h3>
    <input type="password" placeholder="New Password" name="" value="" ng-model="auth.password" required="required">
    <input type="password" placeholder="Repeat Password" name="" value="" ng-model="auth.confirmPassword" required="required">
    <p ng-if="auth.validate == false" class="validationPrompts">Passwords don't match</p>
    <a href="" ng-click="confirmPasswordReset()">Reset Password</a>

  </div>

</div>
