<div class="parentDisplays" class="signUpDisplay" ng-controller="authCtrl">

  <div class="" id="signUpForm">

    <h2>Sign Up for a Yellow Bag account</h2>

    <div class="" id="signUpFormInputDiv">
      <input type="text" name="email" value="" placeholder="Email" ng-model="auth.email">
      <input type="password" name="password" value="" placeholder="Password" ng-model="auth.password">
      <input type="password" name="check_password" value="" placeholder="Confirm Password" ng-model="auth.checkPassword">
      <input type="text" name="full_name" value=""ng-model="auth.fullName" placeholder="Full Name">
    </div>

    <p id="passwordErrorMessage">Passwords do not match</p>

    <button type="button" name="button" ng-click="signUp()">Sign Up</button>

  </div>

</div>
