<div class="parentDisplays" class="signUpDisplay" ng-controller="authCtrl">
  <title>Sign Up for Yellow Bag of Humanity</title>

  <div class="" id="signUpForm">

    <h2>Sign Up for a Yellow Bag account</h2>
    <p>Keep track of your donations and stay up to date with news or events.</p>
    <div class="" id="signUpFormInputDiv">
      <span>
        <input id="signupEmailInput" type="text" name="email" value="" placeholder="Email" ng-model="auth.email">
        <p id="emailErrorMessage">Email already exists</p>
      </span>
      <span>
        <input type="password" name="password" value="" placeholder="Password" ng-model="auth.password" ng-change="passwordStart()" autocomplete="new-password">
        <img class="verifiedIcons" ng-if="auth.password == auth.checkPassword && auth.checkPassword != ''" src="../icons/verified_black_24dp.svg" alt="" >
      </span>
      <span>
        <input type="password" id="signupCheckPasswordInput" name="check_password" value="" placeholder="Confirm Password" ng-model="auth.checkPassword" ng-change="checkPasswords()" autocomplete="new-password">
        <img class="verifiedIcons" ng-if="auth.password == auth.checkPassword && auth.checkPassword != ''" src="../icons/verified_black_24dp.svg" alt="">
      </span>
      <input type="text" name="full_name" value="" placeholder="Full Name" ng-model="auth.fullName">
    </div>

    <p id="passwordErrorMessage">Passwords do not match</p>
    <!-- <p id="passwordSuccessMessage">Passwords Match</p> -->


    <a class="signInBtns" href="" type="" name="" ng-click="signUp()">Sign Up</a>
    <p>Or</p>
    <a href="/#!/signIn"> Sign in to your account</a>

  </div>

</div>
